attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==4.0.3
coveralls==1.2.0
idna==2.9
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.10.0
pytest==5.4.1
requests==2.23.0
six==1.12.0
urllib3==1.25.9

